@import './layout/base.css';
@import './layout/fonts.css';

@import "./blocks/header.css";
@import "./blocks/logo.css";
@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-bold_1-webfont.woff2') format('woff2'),
      url('../fonts/roboto-bold_1-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {

  font-family: 'roboto';
  src: url('../fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
      url('../fonts/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-light_1-webfont.woff2') format('woff2'),
      url('../fonts/roboto-light_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


body {
  font: 16px/1.42 "roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
*{
box-sizing:border-box;  
}
.ul{
  margin: 0;
  padding: 0;
}
.ul >li{ 
  list-style:none;
}
.wrapper {
  min-width:1100px;
  min-height:100%;
  overflow:hidden;
}
body{ 
margin: 0;
}
.header {
  background: #4b73b5;
  color: #fff;
 margin-bottom: 23px;
 
}
* {
  box-sizing: border-box;
}
.container {
  width: 1050px;
  margin: 0 auto;
}
.header__container {
  position: relative;
  width: 100%;
  height: 72px;
}
.logo {
 position:absolute;
top:13px;
left: 0px;
}
.contacts{
	position:absolute;
top:13px;	
  right:0;
  font-style:normal;
}
.contacts__phone {
	color: inherit;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	display: block;
} 

.banner__img {
  position: absolute; 
 left:1100px;
 top:50px;
 margin:10px;
}
.banner__img-pic {
  display:block;
  max-width: 100%;
position: relative;
}

.contacts__schedule{
  color: #fff;
  opacity: .7;
}
.page, .sidebar {
display: inline-block;
vertical-align: top;
}
.page{
width: 700px;
}
.sidebar {
width: 197px;
}
.main-nav__item {
  font-size: 12px;
letter-spacing:2.4px;
font-weight: bold;
text-transform:uppercase;
color: #4b73b5;
text-decoration:none;
display: inline-block;
}
.main-nav__item:last-child {
  margin-bottom:26;
}
.main-nav__link:before { 
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 33px;
  

  background: no-repeat center center;
  margin-right: 20px;
}
  .main-nav__link:hover {

  color:#221f1f;
  
}
.main-nav__icon--main::before {
background-image: url('../img/icons/menu/main.png');
}
.main-nav__icon--feed::before{
  background-image: url('../img/icons/menu/feed.png');
  }
  .main-nav__icon--team:before {
    background-image: url('../img/icons/menu/team.png');
  }
  /*тарифы*/
/* tariff-block__icon*/




 .section-title__tariffs {
  width: 180px; /*задаем ширину блока*/
  height:50px; /*задаем высоту блока*/
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 65%;
  opacity:100%;
  font-size:49px;
  font:roboto;
  font-style:bold;
  line-height:38px;
  letter-spacing:0px;
  color:#221f1f;
 }
 .tariff-block__title{
  width: 73px;
  height: 10px;
  color: #212121;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 700;
  line-height: 51.38px;
  text-transform: uppercase;
left:288px;
top:624px;
right:739px;
  letter-spacing: 2.88px;  
 }
 .tariff-block {
   width: 300px;
   padding:15%;
   background: #fff;
   border:1px solid #221f1f;
   position:relative;
   color: #5a5a5a;
display: inline-block;
text-align: center;
width: 30%;
padding: 40px 2% 27px; 
}

 .tariff-block__price {
   
  margin:35px 60px 55px;
font-size:21px;

 }
 *{
 box-sizing: border-box  
 }
.tariff-block__price {
 top:846px; 
  left:287px;
right:740px;
width: 73px;
height: 40px;
color: #212121;
font-family: Roboto;
font-size: 54px;
font-weight: 400;
text-align: center;
color: #202020;
line-height: 182.3px;
letter-spacing: -1.07px;
line-height: 173.58px;
}
.tariff-block__icon{
  margin:auto;
  border-radius:50%;
  background-repeat:no repeat;
 background-position:center;
background-color:#4b73b5;
width:70px;
 height:70px;
}
*{
 box-sizing:border-box; 
}
                    