@import './layout/base.css';
@import './layout/fonts.css';

@import "./blocks/header.css";
@import "./blocks/logo.css";
@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-bold_1-webfont.woff2') format('woff2'),
      url('../../fonts/roboto-bold_1-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {

  font-family: 'roboto';
  src: url('../../fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
      url('../../fonts/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-light_1-webfont.woff') format('woff2'),
      url('../../fonts/roboto-light_1-webfont.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}
.body {
  margin: 0;
}
.header {
  background:#4b73b5;
color: #fff;
}

.container {
  width: 1050px;
  margin: 0 auto;
}



.logo {
top:13px;

left: 0px;

}

.contacts{
	position:absolute
	top:13px;
  right:0;
  
  text-aligin:right;
  font-style:normal;
}

.contacts__phone {
	color: inherit;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	display: block;
} 

.banner {
  position: absolute;
  width: 135px;
  top:80px;
  margin-left:52%;
}

.tariffs .tariffs__content{
  
 width: 145px;
 height: 319px;
 background:#4b73b5;
 position:absolute;
 top:400px;
 left:150px;
}
.wrap{
  width: 300px;
  height:300px;
  border: 1px solid black;
  position: relative;
}